.link-wrapper {
	display: inline-block;
	cursor: pointer;

	color: $color-black;
	text-decoration: none;

	&:visited {
		color: $color-black;
		text-decoration: none;
	}

	&._link {
		@include link();
	}
}
