.cookies-view {
	position: fixed;
	right: 32px;
	bottom: 32px;
	max-width: 320px;
	padding: 16px;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	color: $color-text-primary;

	&__buttons {
		margin-top: 8px;
		text-align: center;
	}

	@media (max-width: 768px) {
		left: 32px;
		max-width: none;
	}
}
