.user-card-page {
	&__subcard {
		margin-top: 16px;
	}

	&__buttons {
		margin-top: 16px;
	}

	* + &__invite-friend {
		margin-top: 16px;
	}

	@media (max-height: 768px) {
		&__subcard,
		&__buttons {
			display: none;
		}
	}
}
