.forgot-password-page {
	width: 320px;

	&__title {
		@include font-24-regular();
	}

	&__disclaimer {
		margin: 24px 0;
		@include font-14-regular();
	}

	&__buttons {
		margin-top: 36px;
		text-align: center;
	}

	&__back {
		margin-top: 12px;
	}
}
