.dialog {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	animation: fadeOut 0.3s;
	transition: opacity 0.3s;
	text-align: center;

	&._animation-hide {
		opacity: 0;
	}

	&._no-overlay {
		pointer-events: none;
	}

	&._no-overlay &__container {
		pointer-events: auto;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__container {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
		margin: 50px 0;
		overflow: hidden;
		outline: 0;
	}

	&__close {
		position: absolute;
		top: 16px;
		right: 16px;
		z-index: 2;

		cursor: pointer;
	}

	&__content {
		position: relative;

		&:not(._no-padding) {
			padding: 24px 40px;
		}
	}

	&:after {
		content: '';
		display: inline-block;
		width: 0;
		height: 100%;
		vertical-align: middle;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
