.specialty-list-page {
	&__add {
		display: flex;
		gap: 30px;
	}

	&__group {
		&-title {
			margin: 16px 0;
			@include font-18-medium();
			color: $color-text-red;
		}

		&-edit {
			margin-left: 16px;
			@include link();
		}
	}

	&__specialty {
		padding: 8px;
		border-radius: 4px;

		&:hover {
			background-color: $color-background-light;
			cursor: pointer;
		}

		&-title {
			@include font-14-regular();
			color: $color-text-primary;
		}
	}
}
