.logo {
	width: 144px;
	height: 38px;

	&._size_small {
		@media (max-width: 768px) {
			width: 60px;
			height: 16px;
		}
	}

	&._size_medium {
		@media (max-width: 768px) {
			width: 132px;
			height: 32px;
		}
	}
}
